* {
    box-sizing: border-box;
}

:root {
    --primary: #1EBFC1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    height: 5000px;
}

html,
body {
    scroll-behavior: smooth;
}

/* ===========================Common================================ */
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0px 16px;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: #2AC9BF;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-word;
}
/* ===========================Header================================ */
.header {
    background-color: #FFF;
}

.header.fixed{
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    padding: 52px 0px 8px;
    display: flex;
    align-items: center;
}

.header .body .logo {
    margin-right: 235px;
}

.header .body .nav ul {
    display: flex;
    gap: 39px;
}

.header .body .nav ul a {
    color: #2F3A3B;
}

.header .body .nav ul a:hover {
    text-decoration: underline;
}

.header .body .action {
    display: flex;
    margin-left: auto;
}

.header .body .action .action-btn {
    display: inline-block;
    line-height: 46.4px;
    text-align: center;
}

.header .body .action .action-btn:first-child {
    color: #494949;
    padding: 0px 24px;
}

.header .body .action .action-btn:last-child {
    min-width: 108px;
    color: var(--primary);
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid var(--primary);
}

.header .body .action .action-btn:last-child:hover {
    background-color: var(--primary);
    color: #FFF;
}

/* ===========================Hero================================ */
.hero {
    padding: 42px 0px 79px;
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .info {
    width: 39%;
}

.hero .info .greet {
    color: #767E7E;
    font-size: 1.4rem;
}

.hero .info .title {
    margin-top: 18px;
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16129;
}

.hero .info .desc {
    margin-top: 46px;
    width: 374px;
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.77778;
}

.hero .info .action {
    margin-top: 52px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.hero .info .action button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .image {
    position: relative;
}

.hero .image .book {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .image .desc {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero .image .book .book-icon {
    width: 55px;
    margin-left: 25px;
    position: relative;
}

.hero .image .book .desc {
    margin-right: 17px;
}

.hero .image .book .book-icon img:last-child {
    position: absolute;
    left: 4px;
    bottom: 8px;
}

.hero .image .stat {
    position: absolute;
    top: 453px;
    left: -65px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .image .stat .desc {
    margin-top: 16px;
}

.hero .image .stat img:nth-of-type(1) {
    margin-top: 16px;
}

.hero .image .stat img:nth-of-type(2) {
    margin-top: 12px;
}

.hero .image .stat img:nth-of-type(3) {
    margin-top: 10px;
}

.hero .image .stat img:nth-of-type(4) {
    margin-top: 16px;
}

.hero .image .student {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .image .student .desc {
    margin-top: 17px;
    margin-left: 35px;
}

.hero .image .student .avatar {
    margin-top: 8px;
    margin-left: 35px;
    display: flex;
}

.hero .image .student .avatar .unknown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #1EBFC1;
}

.hero .image .student .avatar .unknown p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}

.hero .image .student .avatar img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .image .student .avatar .ava:not(:first-child) {
    margin-left: -7px;
}

/* ===========================Feature================================ */
.feature {
    margin-top: 65px;
    padding: 65px 0;
}

.feature .content {
    width: 1024px;
    padding-left: auto;
}

.feature .greet {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.feature .title {
    margin-top: 18px;
    width: 54.4%;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33333;
}

.feature .desc {
    margin-top: 18px;
    width: 57.6%;
    color: #767E7E;
    font-size: 1.8rem;
}

.feature .item-list {
    margin-top: 80px;
    display: flex;
}

.feature .item-list .item:nth-child(1){
    margin-right: 209px;
    width: 16.4%;
}

.feature .item-list .item:nth-child(2){
    margin-right: 200px;
    width: 21.78%;
}

.feature .item-list .item:nth-child(3){
    width: 21.875%;
}

.feature .item-list .item .item-title {
    margin-top: 26px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature .item-list .item .item-desc {
    margin-top: 16px;
    color: #9DA6A5;
    font-size: 1.6rem;
    line-height: 1.6875;
}
